body{
    margin: 0;
    padding-right: 0 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#logo{
    color: black;
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    /* letter-spacing: -3.5pt; */
}
#dot{
    color: blue;
}
.nav-items{
    text-decoration: none;
    color: black;
}


#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: gold;
    height: 70px;

}
#nav-links {
    text-decoration: none;
    color: black;
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 35px;
    padding: 0 30px 0 30px;
    font-family: 'open sans', sans-serif;

}
#under{
    display: flex;
    justify-content: space-around;
}
#middle{
    font-family: "poppins", sans-serif;
    font-size: 30pt;
    font-weight: bold;
    color: black;
    display: flex;
}
#font-one{
    font-size: 12pt;

}
#press{
    font-size: 20pt;
    border-width: 2px;
    background: pink;
    border-top: orchid;
    position: relative;
    top: 0;
    transition: 0.5s all ease;
    box-shadow: 0 4px 20px -5px;
    border-radius: 30px;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
}